{% set main_width = theme.layout.main_width|default(8) %}
{% set aside_width = theme.layout.aside_width|default(4) %}
<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ app.config.get('general/sitename') -}}
            {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
        </title>
        {# Facebook Meta #}
        <meta property="fb:app_id"             content="475259716196523" />
        <meta property="og:url"                content="http://www.neonsinesmusic.com/" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="| Neon Sines |" />
        <meta property="og:description"        content="Ear funk to suck your soul" />
        <meta property="og:image"              content="http://www.neonsinesmusic.com/theme/neonsines/images/neon-sines.jpg" />
        {# Google Fonts #}
        <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic,700|Open+Sans:300,400,600,700|Playfair+Display' rel='stylesheet' type='text/css'>
        {# Favicon #}
        <link rel="icon" type="image/x-icon" href="{{ paths.theme }}images/favicon.ico">
        {# Styles #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ paths.theme }}css/ns.min.css">
        {# Header Includes #}
        {% block headincludes %}
        {% endblock headincludes %}
    </head>
    <body>
        {% block body %}
            {# Expanded Nav #}
            <div id="nav-mobile" class="nav-fullscreen">
                <div class="container">
                    <h3 class="text-center"><span>NEON SINES</span></h3>
                     <div class="row">
                        <div class="col-xs-offset-3 col-xs-7 col-sm-offset-4 col-sm-4 text-center">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                            <ul id="navMain">
                                <li><a href="#bio"><span>Our Story</span></a></li>
                                <li><a href="#posts"><span>News</span></a></li>
                                <li><a href="#events"><span>Shows &amp; Events</span></a></li>
                                <li><a href="#music"><span>Playlist</span></a></li>
                                <li><a href="#contact"><span>Contact Us</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {# Main Content Block #}
            {% block main %}
            {% endblock main %}

        {# End Body Block #}
        {% endblock body %}
        {# footer include #}
        {{ include('partials/_footer.twig') }}
        {# Script includes #}
        {% block bottomincludes %}
        {% endblock bottomincludes %}
        {# GA Scripts #}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-92084109-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
